* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #cacaca;
    font-family: 'Montserrat';
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    position: relative;
    width: 100%;
    height: 800px;
    background-color: red;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.5) 0%, rgba(0, 0, 0, 0.5) 35%, rgba(246, 211, 80, 0.5) 100%),
        url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/BRP_Jose_Rizal_at_RIMPAC_2020_004.jpg/1280px-BRP_Jose_Rizal_at_RIMPAC_2020_004.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    color: #fff;
    font-size: 50px;
    font-style: italic;
    font-weight: 400;
}

.card {
    background-color: #f0f0f0;
    width: 80%;
    padding: 20px;
    padding-bottom: 35px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 7px 8px 5px 0px rgba(0, 0, 0, 0.2);
}

.card-header {
    margin-bottom: 10px;
    font-style: bold;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.card-content {
    font-size: 16px;
    color: #666;
    text-align: center;
}

.card-content h4 {
    text-align: center;
    font-style: italic;
    color: #22378A;
    margin: 20px;
}

.card-content .foot {
    font-style: italic;
}

.card-image {
    position: relative;
}

.card-image .logo {
    width: 13rem;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -7.5rem;
}

.card-about {
    margin-top: 20px;
    transform: translateY(-10%);
}

.card-about .card-header {
    margin-top: 8rem;
}

.card-ranking {
    height: 20rem;
}

.card-ranking .card-content {
    margin-top: 20px;
    margin-bottom: 15px;
}

.ranks {
    display: flex;
    justify-content: space-evenly;
}

.rank-card {
    text-align: center;
}

.rank-card p {
    font-size: inherit;
    color: #22378A;
    font-weight: bold;
    margin: 10px;
}

.rank-card img {
    rotate: 180deg;
    width: 9rem;
    height: auto;
}


/* mobile */
@media screen and (max-width: 500px) {
    .hero-text {
        font-size: 20px;
        margin: 20px;
    }

    .card-about {
        transform: translateY(0%);
    }

    .card-ranking {
        margin-top: 20px;
        height: 100%;
    }

    .ranks {
        flex-direction: column;
    }

    .rank-card {
        margin-bottom: 20px;
    }

    .rank-card img {
        rotate: 90deg;
        scale: 3;
        /* translate: -50px; */
        width: 2rem;
    }

}